<h1>Listing role_grants, <%= @arr%></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_grants.each do |role_grant| %>
      <tr>
        <td><%= role_grant.grant_id%></td>
        <td><%= role_grant.role_id%></td>
        <td><%= link_to 'Show', role_grant %></td>
        <td><%= link_to 'Edit', edit_role_grant_path(role_grant) %></td>
        <td><%= link_to 'Destroy', role_grant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role grant', new_role_grant_path %>
