<h1>Listing articles</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.content %></td>
        <% if session[:grant_id]
             session[:grant_id].each do |grant|
               if grant == 'R001G001'
        %>
                    <td><%= link_to 'Show', article %></td>
                <% end
                   end
                   end %>

        <% if session[:grant_id]
             session[:grant_id].each do |grant|
               if grant == 'R001G002'
        %>
                    <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <% end
                   end
                   end %>

        <% if session[:grant_id]
             session[:grant_id].each do |grant|
               if grant == 'R001G003'
        %>
                    <td><%= link_to 'Destroy', article, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                <% end
                   end
                   end %>


      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if session[:grant_id]
     session[:grant_id].each do |grant|
       if grant == 'R001G004'
%>
            <%= link_to 'New Article', new_article_path %>
        <% end
           end
           end %>